[Unit]
Description=Check eBPF prerequisites for daed
DefaultDependencies=no
After=local-fs.target sysinit.target
Before=daed.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/check-ebpf

[Install]
WantedBy=multi-user.target
